*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#nav{
    /* border: 2px solid red; */
    height: 800px;
    background-image: url(./images/homeBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#subnav{
    /* border: 2px solid; */
    height: 120px;
    width: 75%;
    margin: auto;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subnav nav{
    /* border: 2px solid blue; */
    width: 130px;
    list-style: none;
}
ol{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
#subnav nav+nav{
    /* border: 2px solid green; */
    width: 650px;
    font-size: 23px;
}
#subnav nav+nav ol li:first-child{
    color: #fcc32c;
}
#subnav+div {
    /* border: 2px solid yellowgreen; */
    height: 60px;
    background-color: #000;
    display: flex;
    align-items: center;
}
#subnav+div marquee{
    /* border: 2px solid #FFF; */
    height:30px;
    color: #fff;
    width: 87%;
    /* margin-left:10px; */
    font-size: 19px;
}
#subnav+div img{
    /* fill: white; */
   height: 35px;
 }
#mark{
    /* border: 2px solid red; */
    height: inherit;
    width: 57%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
#mark button{
    font-size: 16px;
    background-color: inherit;
    color: #fff;
    border: inherit;
}
#p1{
    /* border: 2px solid yellow; */
    height: 590px;
    width: 75%;
    margin: auto;
}
#post1{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
#post1 nav{
    /* border: 5px solid blue; */
    height:590px;
    width: 49%;
}
#post1 nav+nav img{
    height: 550px;
    margin-top: 20px;
    margin-left: 50px;
}
#post1 nav:first-child{
    padding-top: 140px;
}
#post1 nav h1{
    font-size: 62px;
    font-weight: 700;
    color: #fff;

}
#post1 nav h1+h1{
    color: #fcc32c;;
}
#post1 nav p{
    font-size: 27px;
    color: rgb(134 139 152 );
}
#post1 nav button{
    padding: 15px 40px;
    font-size: 17px;
    border-radius: 10px;
   background-color: #fcc32c;
   border: none;
}
#p2{
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  
}
#p2 div{
    /* border: 2px solid; */
    height: inherit;
    width: 49%;
}
#p2 div+div{
    background-image: url(./images/2023_recap_home_image.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
    height: 500px;
}
#p2 div nav{
    /* border: 2px solid red; */
    margin-top: 80px;
}
#p2 div h1{
    font-size: 52px;
    font-weight: 650;
}
#p2 div h1 li{
    height: 13px;
    /* border: 2px solid; */
    width: 120px;
    color: #fff;
    background-color: #fcc32c;
}
#p2 div p{
    font-size: 27px;
    color: rgb(134 139 152 );
}
#p2 div button{
    padding: 13px 28px;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 10px;
   color: #2194ff;
   border: 1px solid #2194ff;
}
#p3{
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
  
}
#p3 div{
    /* border: 2px solid; */
    height: inherit;
    width: 49%;
}
#p3 div+div{
    background-image: url(./images/autoMap-NammaYatri.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
    height: 500px;
}
#p3 div nav{
    /* border: 2px solid red; */
    margin-top: 80px;
}
#p3 div h1{
    font-size: 52px;
    font-weight: 650;
}
#p3 div h1 li{
    height: 13px;
    /* border: 2px solid; */
    width: 120px;
    color: #fff;
    background-color: #fcc32c;
}
#p3 div p{
    font-size: 27px;
    color: rgb(134 139 152 );
}
#p3 nav button{
    padding: 15px 40px;
    font-size: 17px;
    border-radius: 10px;
   background-color: #fcc32c;
   border: none;
}
#bgcolor{
    background-color: rgb(44 47 58 );
}
#p4{
    /* border: 2px solid red; */
    width: 77%;
    margin: auto;
    height: 730px;
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
    background-color: rgb(44 47 58 );
  
}
#p4 div{
    /* border: 2px solid; */
    height: inherit;
    width: 49%;
}
#p4 div+div{
    background-image: url(./images/onboarding-NammaYatri.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
    height: inherit;
    padding-top: 160px;

}
#p4 div nav{
    /* border: 2px solid red; */
    margin-top: 160px;
}
#p4 div h1{
    font-size: 52px;
    font-weight: 650;
    color: #fff;
}
#p4 div h1 li{
    height: 13px;
    /* border: 2px solid; */
    width: 120px;
    color: rgb(44 47 58 );
    background-color: #fcc32c;
}
#p4 div p{
    font-size: 27px;
    color: rgb(134 139 152 );
}
#p4 nav button{
    padding: 15px 40px;
    font-size: 17px;
    border-radius: 10px;
   background-color: #fcc32c;
   border: none;
}
#p5{
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
    height: 720px;
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
  
}
#p5 div{
    /* border: 2px solid; */
    height: inherit;
    width: 49%;
}
#p5 div+div{
    background-image: url(./images/driver-NammaYatri.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
    height: 500px;
    padding-top: 200px;
}
#p5 div nav{
    /* border: 2px solid red; */
    margin-top: 160px;
}
#p5 div h1{
    font-size: 52px;
    font-weight: 650;
}
#p5 div h1 li{
    height: 13px;
    /* border: 2px solid; */
    width: 120px;
    color: #fff;
    background-color: #fcc32c;
}
#p5 div p{
    font-size: 27px;
    color: rgb(134 139 152 );
}
#p5 nav button{
    padding: 15px 40px;
    font-size: 17px;
    border-radius: 10px;
   background-color: #fcc32c;
   border: none;
}
#bgcolor2{
    background-color: rgb(44 47 58 ); 
}
#p6{
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
    height: 720px;
    /* display: flex; */
    justify-content: space-between;
    /* margin-top: 250px; */
}
#p6  h1{
    font-size: 52px;
    font-weight: 650;
    color: #fff;
}
#p6  p{
    font-size: 27px;
    color: rgb(134 139 152 );
}
#p6 h1 li{
    height: 13px;
    /* border: 2px solid; */
    width: 120px;
    color:  rgb(44 47 58 );
    background-color: #fcc32c;
}
#p6 nav{
    /* border: 2px solid red; */
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#p6 nav div{
    border: 1px solid #fff;
    height: inherit;
    width: 31%;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
   
}
#p6 nav div h1+p{
    /* color:green */
   color: #90ee90;
}
#p6 nav+nav{
    /* border: 5px solid red; */
    width: 470px;
    height: 50px;
    margin-top: 90px;
}
#p6 nav+nav button{
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 10px;
    background-color:  rgb(44 47 58 );
    border: 1px solid #fff;
   text-align: center;
   color: rgb(134 139 152 );
   height: 50px;
}
#p7{
     /* border: 2px solid red; */
     width: 75%;
     margin: auto;
     height: 720px;
     /* display: flex; */
     justify-content: space-between;
}
#p7 h1{
    font-size: 52px;
    font-weight: 650;
    color:rgb(44 47 58 );
}
#p7 h1 li{
    height: 13px;
    /* border: 2px solid; */
    width: 120px;
    color:  #fff;
    background-color: #fcc32c;
}
#p7 button{
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 25px;
    background-color:  rgb(44 47 58 );
    border: 1px solid #fff;
   text-align: center;
   color: #fff;
   height: 50px;
}
/* #p7 button+button{
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 25px;
    /* background-color:  rgb(44 47 58 ); */
    /* border: 1px solid #fff;
   text-align: center;
   color: #fff;
   height: 50px;
} */ */
#p7 button:hover{
    /* cursor: pointer; */
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 25px;
    background-color:  rgb(44 47 58 );
    border: 1px solid #fff;
   text-align: center;
   color: #fff;
   height: 50px;
}
#p7 div{
    /* border: 2px solid red; */
    width: 89%;
    height: 200px;
    margin-left: 70px;
    display: inline-flex; 
    justify-content: space-between;
    margin-top: 60px;
}
#p7 div img{
    height: 170px;
   
}
#p7 div+nav{
    /* border: 2px solid green; */
display: flex;
justify-content: space-between;
width: 94%;
margin: auto;
margin-top: 40px;
}
#p7 div+nav nav{
    /* border: 2px solid yellow; */
    width: 250px;
    text-align: center;
}
#p7 div+nav nav p{
    font-size: 20px;
    color: rgb(134 139 152 );
}





